@import './base.css';

.icon-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
  text-align: inherit;
}

.spacer {
  flex: 1;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.2s ease;
}

.search-bar:hover, .search-bar:focus-within, .search-bar.focused {
  /* Makes up for the missing border height */
  margin: 1px;
  border: none;
  width: 100%;
  background-color: var(--color-background-soft);
}

.search-bar.has-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar.has-results .search-bar-contents {
  border-bottom: 1px solid var(--color-border-hover);
}

.search-bar-contents {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 20px;
}

.search-bar input {
  flex: 1;
  height: 100%;
  font-size: 1rem;
  margin: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text);
}

.search-bar input::placeholder {
  color: var(--color-text);
}

.search-results {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--color-background-soft);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-result {
  padding: 5px 40px;
  cursor: pointer;
}

.search-result a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 700;
}

.search-result a:visited {
  color: var(--color-link-visited);
}

.search-result:hover {
  background: rgba(255, 255, 255, .1);
}